<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="DailyFx"> </span>
    </div>

    <form id="login" class="smart-form client-form" data-smart-validate-form>
        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
                ui-sref="register" class="btn btn-danger">Register here</a> </span>
    </form>

</header>

<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">DailyFx Solutions</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Step to shine your future </h4>

                        <!-- <div class="login-app-icons">
                             <a ui-sref="app.dashboard" class="btn btn-danger btn-sm">Frontend Template</a>
                             <a href-void class="btn btn-danger btn-sm">Find out more</a>
                         </div>-->
                    </div>
                    <img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">

                    <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>

                    <form id="login2" class="smart-form client-form" ng-submit="login($event)" data-smart-validate-form>
                        <header>
                            Sign In
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">User ID</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" id="username" ng-model="username"
                                           data-smart-validate-input
                                           data-required
                                           data-message-required="Please enter your username"
                                           data-message-email="Please enter a VALID email address">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter username</b></label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" id="password" ng-model="password"
                                           data-smart-validate-input
                                           data-required
                                           data-minlength="3"
                                           data-maxnlength="20"
                                           data-message="Please enter your password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                        your password</b> </label>

                                <div class="note">
                                    <a ui-sref="forgotPassword">Forgot password?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" id="rememberMe" ng-model="rememberMe">
                                    <i></i>Stay signed in</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Sign in
                            </button>
                        </footer>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

