<form id="addUserForm" role="form" ng-controller="UserManagementController" class="form-horizontal"
      novalidate ng-submit="saveUser()" show-validation>
    <div class="row">
        <div class="col-md-12">

            <!-- 1st column -->
            <div class="col-md-6">
                <fieldset hidden>
                    <div class="form-group">
                        <label class="col-md-4 control-label">SEQ ID</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-key"></i>
                                <input class="form-control input-sm" type="text" name="id" ng-model="addUserForm.id" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Login ID</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-key"></i>
                                <input class="form-control input-sm" placeholder="" type="text" name="login"
                                       ng-model="addUserForm.login" lowercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User First Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" placeholder="" type="text" name="firstName"
                                       ng-model="addUserForm.firstName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Middle Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" placeholder="" type="text" name="middleName"
                                       ng-model="addUserForm.middleName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Last Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" placeholder="" type="text" name="lastName"
                                       ng-model="addUserForm.lastName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">National ID </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-id-card-o"></i>
                                <input class="form-control input-sm" placeholder="" type="text"
                                       name="nationalId" ng-model="addUserForm.nationalId" uppercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email Address </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input class="form-control input-sm" placeholder="" type="text" name="email"
                                       ng-model="addUserForm.email" lowercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-lock"></i>
                                <input class="form-control input-sm" placeholder="" type="password"
                                       name="password" ng-model="addUserForm.password">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Re-confirm Password </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-lock"></i>
                                <input class="form-control input-sm" placeholder="" type="password" name="repassword">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mobile </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-phone"></i>
                                <input class="form-control input-sm" placeholder="" type="text"
                                       data-smart-masked-input="(99) 999-9999-999" data-mask-placeholder= "X"
                                       name="phone" ng-model="addUserForm.phone">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Status</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <span class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" name="statelock" id="createUserst1" ng-model="addUserForm.accountStatus">
                                    <label class="onoffswitch-label" for="createUserst1">
                                        <span class="onoffswitch-inner" data-swchon-text="Available" data-swchoff-text="Lock"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- 2nd column -->
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password Expiration Date </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-calendar"></i>
                                <input class="form-control input-sm" placeholder="" type="date"
                                       name="passwordExpDate" ng-model="addUserForm.passwordExpDate">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Max. Login Allow</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append"></i>
                                <input class="form-control input-sm" placeholder="" type="number"
                                       name="maxLogin" ng-model="addUserForm.maxLogin">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Max. Fail Login Attempts Allow </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append"></i>
                                <input class="form-control input-sm" placeholder="" type="number"
                                       name="maxFailAttemptsAllow" ng-model="addUserForm.maxFailAttemptsAllow">
                            </div>
                        </div>
                    </div>
                </fieldset>

            <!--    http://formvalidation.io/validators/date/   -->
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Activation Date </label>
                        <div class="col-md-6 date">
                            <div class="input-icon-right date">
                                <i class="icon-append fa fa-calendar"></i>
                                <input class="form-control input-sm" placeholder="" type="date"
                                       name="accActivationDate" ng-model="addUserForm.accActivationDate">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Language </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-language"></i>
                                <input class="form-control input-sm" placeholder="en" type="text"
                                       name="langKey" ng-model="addUserForm.langKey">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Role </label>
                        <div class="col-md-6 selectContainer">
                            <div class="input-icon-right">
                                <select class="form-control input-sm" multiple name="authority" ng-model="addUserForm.authorities"
                                        ng-options="authority for authority in authorities">
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Comment </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-comments-o"></i>
                                <textarea class="form-control input-sm" placeholder="" rows="3"
                                          name="comments" ng-model="addUserForm.comments" sentence-case=""></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="widget-footer">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-sm txt-color-white bg-color-blue" type="reset">
                    <i class="fa fa-refresh"></i> Reset</button>
                <button class="btn btn-sm txt-color-white bg-color-greenDark" type="submit">
                    <i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>

</form>

