<form id="addUserForm" role="form" ng-controller="UserManagementController" class="form-horizontal"
      novalidate ng-submit="saveUser()" add-user-form>
    <div class="row">
        <div class="col-md-12">

            <!-- 1st column -->
            <div class="col-md-6">
                <fieldset hidden>
                    <div class="form-group">
                        <label class="col-md-4 control-label">SEQ ID</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-key"></i>
                                <input class="form-control input-sm" type="text" placeholder="" name="id" ng-model="addUserForm.id" readonly>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Login ID </label>
                        <div class="col-md-6 inputGroupContainer">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-key"></i>
                                <input class="form-control input-sm" type="text" name="loginId" ng-model="addUserForm.loginId" lowercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User First Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" type="text" name="firstName" ng-model="addUserForm.firstName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Middle Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" type="text" name="middleName" ng-model="addUserForm.middleName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Last Name </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-user"></i>
                                <input class="form-control input-sm" type="text" name="lastName" ng-model="addUserForm.lastName" capitalize-each-word>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">National ID </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-id-card-o"></i>
                                <input class="form-control input-sm" type="text" name="nationalId" ng-model="addUserForm.nationalId" uppercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email Address </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input class="form-control input-sm" type="text" name="emailAddress" ng-model="addUserForm.loginId" lowercase>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-lock"></i>
                                <input class="form-control input-sm" type="password" name="userPassword" ng-model="addUserForm.userPassword">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Re-confirm Password </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-lock"></i>
                                <input class="form-control input-sm" type="password" name="confirmPwd" ng-model="addUserForm.confirmPwd">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mobile </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-phone"></i>
                                <input class="form-control input-sm" type="text"
                                       data-smart-masked-input="(99) 999-999-999" data-mask-placeholder= "_"
                                       name="phone" ng-model="addUserForm.phone">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Status</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <span class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" name="statelock" id="createUserst1" ng-model="addUserForm.activated">
                                    <label class="onoffswitch-label" for="createUserst1">
                                        <span class="onoffswitch-inner" data-swchon-text="Active" data-swchoff-text="Lock"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Upload User Photo </label>
                        <div class="col-md-1">
                            <div class="input-icon-left">
                                <img class="thumbUserImage" ng-src="{{addUserForm.files}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="file" file-model="files" ng-file-select="onFileSelect($files)" ng-model="addUserForm.files" accept="image/*" ngf-max-size="2MB">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Year (Level) </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <input class="form-control input-sm" type="number" name="studyYear" ng-model="addUserForm.studyYear">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Student ID </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <input class="form-control input-sm" type="text" name="studentId" ng-model="addUserForm.studentId">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- 2nd column -->
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-map-marker"></i>
                                <input class="form-control input-sm" placeholder="Residential Address" type="text" name="apartmentNo"
                                       ng-model="addUserForm.apartmentNo" capitalize-each-word>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-info btn-sm" type="button" data-toggle="#moreAddressOption">
                                <i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>
                </fieldset>

                <!-- These fields will not be validated as long as they are not visible -->
                <div id="moreAddressOption" style="display: none;">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <div class="input-icon-right">
                                    <i class="icon-append fa fa-road"></i>
                                    <input class="form-control input-sm" placeholder="Street Name" type="text" name="address1"
                                           ng-model="addUserForm.address1" capitalize-each-word>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <div class="input-icon-right">
                                    <input class="form-control input-sm" placeholder="Sub Locality" type="text" name="address2"
                                           ng-model="addUserForm.address2" capitalize-each-word>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label">City </label>
                            <div class="col-md-6">
                                <div class="input-icon-right">
                                    <i class="icon-append fa fa-map-marker"></i>
                                    <input class="form-control input-sm" placeholder="City" type="text" name="city"
                                           ng-model="addUserForm.city" details=addUserForm googleplace
                                           ng-autocomplete="result2" details="details2" options="options2">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label">State </label>
                            <div class="col-md-3">
                                <div class="input-icon-right">
                                    <input class="form-control input-sm" placeholder="State" type="text" name="states"
                                           ng-model="addUserForm.states" autocomplete-states>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-icon-right">
                                    <input class="form-control input-sm" placeholder="PostCode" type="text" name="postcode"
                                           data-smart-masked-input="9999" data-mask-placeholder= "X"
                                           ng-model="addUserForm.postcode">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Country </label>
                            <div class="col-md-6">
                                <div class="input-icon-right">
                                    <input class="form-control input-sm" placeholder="Country" type="text" name="country"
                                           ng-model="addUserForm.country" id="country">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                </div><!-- End of Address -->


                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Password Expiration Date </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-calendar"></i>
                                <input class="form-control input-sm" type="date"
                                       name="passwordExpDate" ng-model="addUserForm.passwordExpDate">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Max. Login Allow</label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append"></i>
                                <input class="form-control input-sm" type="number" name="maxLogin" ng-model="addUserForm.maxLogin"
                                       ng-init="maxLogin='0'" value="0" min="0">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Max. Fail Login Attempts Allow </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append"></i>
                                <input class="form-control input-sm" type="number"
                                       name="maxFailAttemptsAllow" ng-model="addUserForm.maxFailAttemptsAllow" min="0" value="0">
                            </div>
                        </div>
                    </div>
                </fieldset>

            <!--    http://formvalidation.io/validators/date/   -->
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Activation Date </label>
                        <div class="col-md-6 date">
                            <div class="input-icon-right date">
                                <i class="icon-append fa fa-calendar"></i>
                                <input class="form-control input-sm" type="date" ng-change="newPasswordExpDate('addUserForm')"
                                       name="accActivationDate" ng-model="addUserForm.accActivationDate">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Language </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-language"></i>
                                <input class="form-control input-sm" type="text" value="en"
                                       name="langKey" ng-model="addUserForm.langKey">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Role </label>
                        <div class="col-md-6 selectContainer">
                            <div class="input-icon-right">
                                <select class="form-control input-sm" multiple name="authority" ng-model="addUserForm.authority"
                                        ng-options="authority for authority in authorities">
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Comment </label>
                        <div class="col-md-6">
                            <div class="input-icon-right">
                                <i class="icon-append fa fa-comments-o"></i>
                                <textarea class="form-control input-sm" placeholder="" rows="3"
                                          name="adminComment" ng-model="addUserForm.adminComment" sentencecase></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="widget-footer">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-sm txt-color-white bg-color-blueDark" type="reset" ng-click="back()">
                    <i class="fa fa-backward"></i> <span translate="user-management.button.back">Back</span></button>
                <button class="btn btn-sm txt-color-white bg-color-blue" type="reset" ng-click="clear()">
                    <i class="fa fa-refresh"></i> Reset</button>
                <button class="btn btn-sm txt-color-white bg-color-greenDark" type="submit">
                    <i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>

</form>
