<form id="deleteUserForm" role="form" ng-controller="UserManagementDeleteController" class="form-horizontal"
      novalidate ng-submit="confirmDeleteUser(login)" show-validation >

<div id="content">
    <div class="shadowPanel">
        <section id="user-detail-widget-grid" data-widget-grid>

            <!-- Widget ID (each widget will need unique ID)-->
            <div id="user-detail-wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                 data-widget-deletebutton="false" data-widget-custombutton="false" data-jarvis-widget >

                <header>
                    <span class="widget-icon"><i class="glyphicon glyphicon-user"></i></span>
                    <h2 translate="{{headerText}}"> Delete User </h2>

                    <div class="widget-toolbar">
                        <div class="badge bg-color-magenta" data-tooltip-placement="bottom" data-tooltip="List"
                             ui-sref="user-management"><span class="widget-icon"><i class="fa fa-list-ul"></i></span>
                        </div>
                        <div class="badge bg-color-red" data-tooltip="Delete">
                            <span class="widget-icon"><i class="fa fa-trash-o"></i></span>
                        </div>
                    </div>
                </header>

                <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <!-- 1st column -->
                                <div class="col-md-6">
                                    <fieldset hidden>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SEQ ID</label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-key"></i>
                                                    <input class="form-control input-sm" type="text" name="id" ng-model="deleteUserForm.id" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Login ID</label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text" name="login"
                                                           ng-model="deleteUserForm.login" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">User First Name </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text" name="firstName"
                                                           ng-model="deleteUserForm.firstName" capitalize-each-word readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">User Middle Name </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text" name="middleName"
                                                           ng-model="deleteUserForm.middleName" capitalize-each-word readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">User Last Name </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text" name="lastName"
                                                           ng-model="deleteUserForm.lastName" capitalize-each-word readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">National ID </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-id-card-o"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text"
                                                           name="nationalId" ng-model="deleteUserForm.nationalId" uppercase readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Email Address </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-envelope-o"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text" name="emailAddress"
                                                           ng-model="deleteUserForm.emailAddress" lowercase readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mobile </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-phone"></i>
                                                    <input class="form-control input-sm" placeholder="" type="text"
                                                           data-smart-masked-input="(99) 999-9999-999" data-mask-placeholder= "X"
                                                           name="phone" ng-model="deleteUserForm.phone" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Account Status</label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <span class="onoffswitch">
                                                        <input type="checkbox" class="onoffswitch-checkbox" name="statelock" id="deleteUserActivation" ng-model="deleteUserForm.activated">
                                                        <label class="onoffswitch-label" for="deleteUserActivation">
                                                            <span class="onoffswitch-inner" data-swchon-text="Active" data-swchoff-text="Lock"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- 2nd column -->
                                <div class="col-md-6">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Password Expiration Date </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input class="form-control input-sm" placeholder="" type="date"
                                                           name="passwordExpDate" ng-model="deleteUserForm.passwordExpDate">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Max. Login Allow</label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append"></i>
                                                    <input class="form-control input-sm" placeholder="" type="number"
                                                           name="maxLogin" ng-model="deleteUserForm.maxLogin">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Max. Fail Login Attempts Allow </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append"></i>
                                                    <input class="form-control input-sm" placeholder="" type="number"
                                                           name="maxFailAttemptsAllow" ng-model="deleteUserForm.maxFailAttemptsAllow">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!--    http://formvalidation.io/validators/date/   -->
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Account Activation Date </label>
                                            <div class="col-md-6 date">
                                                <div class="input-icon-right date">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input class="form-control input-sm" placeholder="" type="date"
                                                           name="accActivationDate" ng-model="deleteUserForm.accActivationDate">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Language </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right">
                                                    <i class="icon-append fa fa-language"></i>
                                                    <input class="form-control input-sm" placeholder="en" type="text"
                                                           name="langKey" ng-model="deleteUserForm.langKey">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">User Role </label>
                                            <div class="col-md-6 selectContainer">
                                                <div class="input-icon-right">
                                                    <select class="form-control input-sm" multiple name="authority" ng-model="deleteUserForm.authorities"
                                                            ng-options="authority for authority in authorities">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Comment </label>
                                            <div class="col-md-6">
                                                <div class="input-icon-right"><i class="icon-append fa fa-comments-o"></i>
                                                    <textarea class="form-control input-sm" placeholder="" rows="3"
                                                              name="comments" ng-model="deleteUserForm.comments" sentence-case=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    <!-- Footer -->
                    <div class="widget-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <!--<button class="btn btn-sm txt-color-white bg-color-blueDark" type="reset" ui-sref="user-management">
                                    <i class="fa fa-backward"></i> <span translate="user-management.button.back">back</span></button>-->
                                <button class="btn btn-sm txt-color-white bg-color-red" type="submit" ng-disabled="deleteUserForm.$invalid || isSaving">
                                    <i class="fa fa-trash-o"></i> <span translate="user-management.button.confirmDel">Confirm Delete</span></button>
                            </div>
                        </div>
                    </div>

                </div>  <!-- /.modal-body -->
            </div>

        </section>
    </div>
</div>

</form>