<div id="content">
    <div class="shadowPanel">
        <section id="home-widget-grid" data-widget-grid>

            <!-- Widget ID (each widget will need unique ID)-->
            <div id="user-wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                 data-widget-deletebutton="false" data-widget-custombutton="false" data-jarvis-widget >
                <header>
                    <span class="widget-icon"><i class="glyphicon glyphicon-user"></i></span>
                    <h2 translate="{{headerText}}"> User Management </h2>

                    <div class="widget-toolbar">
                        <div class="badge bg-color-magenta" data-tooltip-placement="bottom" data-uib-tooltip="List of Users"
                             ng-click="ListOfUserAccountForm()"><span class="widget-icon"><i class="fa fa-list-ul"></i></span>
                        </div>
                        <div class="badge bg-color-green" data-tooltip-placement="bottom" data-uib-tooltip="Add User"
                             ng-click="AddUserForm()"><span class="widget-icon"><i class="fa fa-plus"></i></span>
                        </div>
                        <!--<div class="badge bg-color-purple" data-tooltip-placement="bottom" data-uib-tooltip="Update User"
                             ng-click="UpdateUserForm()"><span class="widget-icon"><i class="fa fa-edit"></i></span>
                        </div>
                        <div class="badge bg-color-orange" data-tooltip-placement="bottom" data-uib-tooltip="Change Password"
                             ng-click="ChangePasswordForm()"><span class="widget-icon"><i class="fa fa-key"></i></span>
                        </div>-->
                    </div>
                </header>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget-body" ng-show="showListOfUserForm">
                                <list-of-users-form></list-of-users-form>
                            </div>
                            <div class="widget-body" ng-show="showAddUserForm">
                                <add-user-form></add-user-form>
                            </div>
                            <div class="widget-body" ng-show="showUpdateUserForm">
                                <update-user-form></update-user-form>
                            </div>
                            <div class="widget-body" ng-show="showChangePwdForm">
                                <change-pwd-form></change-pwd-form>
                            </div>
                        </div>
                    </div>
                </div>  <!-- /.modal-body -->

            </div>

        </section>
    </div>
</div>
