<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
    <ul id="sparks" class="">
        <li class="sparks-info">
            <h5> Total Equity <span class="txt-color-yellow">$100,000</span></h5>
            <div class="sparkline txt-color-yellow hidden-mobile hidden-md hidden-sm">
                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631
            </div>
        </li>
        <li class="sparks-info">
            <h5> Growth Rate <span class="txt-color-green"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
            <div class="sparkline txt-color-green hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270
            </div>
        </li>
        <li class="sparks-info">
            <h5> Trading <span class="txt-color-blue"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270
            </div>
        </li>
    </ul>
</div>
